{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> My-Portfolio </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href={% static "bootstrap/startbootstrap/favicon.ico" %} />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href= {% static "bootstrap/startbootstrap/css/styles.css" %} rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#Start" id="Start">Start, My-Portfolio</a>
                <a class="navbar-brand" href="#My-project">MY-project</a>
                캐글 대회 출전, 링크 추가

            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5" style="">Hello, World!</h1>
                            <h1 class="mb-5">Welcome to My-Portfolio!</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light" style="padding-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src={% static "bootstrap/startbootstrap/assets/img/character.png" %} alt="..." />
                            <h5>오영환</h5>
                            <p class="font-weight-light mb-0">"----"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                           
                    </div>
                </div>
            </div>
        </section>

        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center", style="padding-top: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex" style="text-align: center;">
                                <img class="bi-layers m-auto text-primary" src={% static "bootstrap/startbootstrap/assets/img/icons8-python.png" %} alt="..." />
                            </div>
                            <p class="lead mb-0">Python을 주력으로 다루며 TensorFlow를 이용해 Machine-Learning을 구조화 할 수 있습니다. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <img class="bi-layers m-auto text-primary" src={% static "bootstrap/startbootstrap/assets/img/icons8-django.png" %} alt="..." />
                            </div>
                            <p class="lead mb-0">Django를 이용하여 간단한 웹 페이지를 제작할 수 있습니다.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <img class="bi-layers m-auto text-primary" src={% static "bootstrap/startbootstrap/assets/img/icons8-sql.png" %} alt="..." />
                            </div>
                            <p class="lead mb-0">Dbeaver을 통해 SQL문을 작성할 수 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'bootstrap/startbootstrap/assets/img/bg-showcase-1.jpg' %})"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Python</h2>
                        <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'bootstrap/startbootstrap/assets/img/bg-showcase-2.jpg' %})"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Django</h2>
                        <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 5 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 5!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'bootstrap/startbootstrap/assets/img/bg-showcase-3.jpg' %})"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>SQL</h2>
                        <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="My-project">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Here is My-project!</h2>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                
                                <li class="list-inline-item"><a href="https://www.notion.so/8cf3caa9ec124cca9d95ca4544a669ae" target="_blank">
                                    <img src = {% static "bootstrap/startbootstrap/assets/img/icons8-notion.png"%} width="20px;">    
                                    Notion
                                </a></li>
                                <li class="list-inline-item">⋅</li>
                                <li class="list-inline-item"><a href="https://github.com/khb3254/jeju_cgc_2023" target="_blank">
                                    <img src = {% static "bootstrap/startbootstrap/assets/img/icons8-github.png"%} width="20px;">
                                    Gitgub
                                </a></li>

                                <br>

                                
                                <li class="list-inline-item"><a href="https://jeju.pythonanywhere.com/" target="_blank">
                                    <img src = {% static "bootstrap/startbootstrap/assets/img/dol.png"%} width="35px;">
                                    Jeju_Web
                                </a></li>
                                <li class="list-inline-item">⋅</li>
                                
                                <li class="list-inline-item"><a href = {% static "bootstrap/startbootstrap/assets/파이널프로젝트.pdf"%} download="Jeju_ppt.pdf">
                                    <img src = {% static "bootstrap/startbootstrap/assets/img/icons8-ppt.png"%} width="35px;">
                                    Jeju_ppt
                                </a>
                                </li>
                            </li>
                        </ul>
      
                    </div>
                </div>
            </div>
            <br>
            <div style="text-align: center;">
                <p class="text-muted small mb-4 mb-lg-0"> | &copy; | My-Portfolio | 2023 | </p>
            </div>
        </footer>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src={% static 'bootstrap/startbootstrap/js/scripts.js' %}></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
